doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
		script(src='/components/jquery/jquery.min.js')
		script(src='/javascripts/timeline.js')
	body
		div.viewport
			div
				div.nav.left-aligned
					h3 Time
					ul
						each revision, i in revisions
							li.checker(data-index=i)
								span.icon-time
									&nbsp;
								span= revision.date


				div.center
					div.container
						div.card-space
							each revision, i in revisions
								div.card.border-shadow(data-index=i)
									div #{revision.comment}
									div #{revision.revision}
									div #{revision.date}
				div.nav.right-aligned
					h3 Revisions
					ul
						each revision, i in revisions
							li.checker(data-index=i)
								span.icon-upload
									&nbsp;
								span= revision.revision

